<%= render partial: 'application/jumbotron', locals: { jumbo: 'jumbotron-user', header: "#{current_user.name}'s profile" }%>
<div class="row">
  <aside class="col-md-4 col-md-offset-2">
    <section class ="user_info">
      <h1>
        <%= gravatar_for current_user %>
        <%= current_user.name %><br>
        <%= current_user.email %>
      </h1>
      <%= link_to "Edit", edit_user_registration_path(current_user) %>
    </section>
  </aside>
  <div class="col-md-4 col-md-offset-1">
    <h3>What would you like to do?</h3>
    <div class="col-sm-4 col-sm-offset-3">
      <ul id="sidebar" class="nav nav-stacked affix">
        <li><%= link_to "See your Fridge", user_produce_path(current_user), class: 'btn btn-default' %></li>
        <li><%= link_to "See your Faves", user_user_produce_index_path(current_user), class: 'btn btn-default' %></li>
        <li><%= link_to "See all Produce", produce_index_path, class: 'btn btn-default' %></li>
        <li><%= link_to "See all Juices", juices_path, class: 'btn btn-default' %></li>
      </ul>
    </div>
  </div>
</div>
