<div class="jumbotron <%= jumbo %>">
  <div class="img"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="jumbo-header" align="center"><%= header %></h1>
      </div>
    </div>
    <br> <br/>
    <% if !current_user %>
      <div class="col-md-6 col-md-offset-3 jumbo-title">
        <div><%= title %></div>
        <div><%= description %></div>
      </div>
    <% end %>

    <% if current_user %>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="col-md-6 row-centered">
            <%= link_to "Add Produce to Fridge", produce_index_path, class: 'btn btn-green btn-block' %>
          </div>
          <div class="col-md-6 row-centered">
            <%= link_to "See Your Favorite Produce", user_user_produce_index_path(current_user), class: 'btn btn-green btn-block' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<hr>
