<div class="row">
  <div class="container-fluid">
    <div class="row">
      <h1 align="center"><%= @produce.name %></h1>
      <div class="text-center col-md-4 col-md-offset-2">
        <%= image_tag @produce.image.large.url %>
      </div>
      <div class="col-md-4 info">
        <h4><%= @produce.content %>
          Shelf life is usually about <%= @produce.expires_in %> days.</h4>
          <br></br>
          <div class="btn">
            <h4><%= link_to "Edit", edit_produce_path %></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
