<div class="produceBody">
  <div class="row produce-row">
    <h1 align="center" class="produceName"><%= @produce.name %></h1>
    <div class="text-center col-md-4 col-md-offset-2 produceImage" >
      <%= image_tag @produce.image.large.url %>
    </div>
    <div class="col-md-4 info">
      <h4 class="produceContent"><%= @produce.content %></h4>
      <h4 id="expiresIn">Shelf life is usually about <%= @produce.expires_in %> days.</h4>
      <br></br>
      <form class="addFridge" action="/user_produce.<%= @produce.id %>" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input class="btn btn-default btn-block" type="submit" value="Add to fridge"/>
      </form>
      <%= link_to "Edit Produce Item", edit_produce_path(@produce), class: "btn btn-default btn-block" %>
      <%= link_to "Juices with #{@produce.name}", produce_juices_path(@produce), class: "btn btn-default btn-block" %>
    </div>
  </div>
  </br>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="col-md-4 col-md-offset-4" align="center">
        <a href="#" class="js-previous" data-id="<%= @produce.id %>">Previous Item</a>
        ------  <a href="#" class="js-next" data-id="<%= @produce.id %>" last-id="<%= @last_produce_id %>">Next Item</a>
      </div>
    </div>
  </div>
</div>

<script id="nextPrevProduce-template" type="text/x-handlebars-template">
  <div class="produceBody">
    <div class="row produce-row">
      <h1 align="center" class="produceName">{{name}}</h1>
      <div class="text-center col-md-4 col-md-offset-2 produceImage">
        <img src="{{image}}" alt="" />
        <br><br><br><br>
      </div>
      <div class="col-md-4 info">
        <h4 class="produceContent">{{content}}</h4>
        <h4 id="expiresIn">Shelf life is usually about {{shelfLife}} days.</h4>
        <br></br>
        <form action="/user_produce.{{id}}" method="post">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <input class="btn btn-default btn-block" type="submit" value="Add to fridge"/>
        </form>
        <button class="btn btn-default btn-block"><a href="/produce/{{id}}/edit">Edit Produce Item</a></button>
        <button class="btn btn-default btn-block"><a href="/produce/{{id}}/juices">Juices with {{name}}</a></button>
      </div>
    </div>
    </div>
  </div>
  </br>
  <div class="row nextPrevLinks">
    <div class="col-md-6 col-md-offset-3">
      <div class="col-md-4 col-md-offset-4" align="center">
        <a href="#" class="js-previous" data-id="{{id}}">Previous Item</a>
        ------  <a href="#" class="js-next" data-id="{{id}}" last-id="<%= @last_produce_id %>">Next Item</a>
      </div>
    </div>
  </div>
</div>
</script>

<script type="text/javascript">
$(function() {
  previous();
  next();
});
</script>
