<%= render partial: "application/jumbotron", locals: {jumbo: 'jumbotron-juice', header: 'Fresh Juices'} %>
<div class="row-fluid">
  <div class="col-lg-10 col-lg-offset-1">
    <% @juices.each do |juice| %>
      <div class="col-xs-3 col-md-3 juice">
        <h3 align="center"><%= link_to juice.name, juice_path(juice) %></h3>
        <% juice.produce.each do |prod| %>
        <p align="center"><%= prod.juice_produce.first.quantity %> <%= prod.name %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<br></br>
<% if @user %>
  <h1 align="center"><%= link_to "Create a New Juice", new_user_juice_path, class: "btn btn-outline-primary" %></h1>
<% else %>
  <h1 align="center"><%= link_to "Create a New Juice", new_juice_path, class: "btn btn-outline-primary" %></h1>
<% end %>
