<div class="col-md-4 col-md-offset-4">
  <h1 align="center">New Juice</h1>
  <%= bootstrap_form_for @juice do |f| %>
    <h3><%= f.text_field :name %></h3>
    <label><h3 align="center">Ingredients:</h2></label>
    <div class="row">
      <% 4.times do %>
      <div class="col-xs-3">
        <%= f.fields_for :produce, @juice.produce.build do |prod_builder| %>
          <%= prod_builder.select 'name', options_from_collection_for_select(Produce.all, 'id', 'name'), include_blank: true %>
          <%= prod_builder.fields_for :juice_produce, @juice.juice_produce.build do |jp_builder| %>
            <%= jp_builder.number_field :quantity, min: 1 %>
        <% end %>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="row">
      <h4 align="center">Can't find your ingredient? Add it here:</h4>
      <% 4.times do %>
        <div class="col-xs-3">
          <%= f.fields_for :produce, @juice.produce.build do |prod_form| %>
            <%= prod_form.text_field :name %>
            <%= prod_form.fields_for :juice_produce, @juice.juice_produce.build do |jp_form| %>
              <%= jp_form.number_field :quantity %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= f.submit %>
  </div>
  <% end %>

</div>
