<% if current_user.nil? %>
  <li><%= link_to "Sign Up", new_user_registration_path %></li>
  <li><%= link_to "Sign In", new_user_session_path %></li>
<% else %>
  <li><%= link_to "Produce", produce_index_path %></li>
  <li><%= link_to "Juices", juices_path %></li>
  <li><%= link_to "Signed in as #{current_user.name}", user_path(current_user) %></li>
  <li><a data-method="delete" href="/users/sign_out" rel="nofollow">Sign Out</a></li>
<% end %>
